<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Colors</key>
	<dict>
		<key>kAppBgColor</key>
		<string>F2F2F2</string>
		<key>kBackgroundGray</key>
		<string>F5F5F9</string>
		<key>kLabel_TitleColor_1</key>
		<string>4A4A4A</string>
		<key>kLabel_TitleColor_2</key>
		<string>393835</string>
		<key>kLabel_TitleColor_3</key>
		<string>A6A6A6</string>
		<key>kButton_TitleColor_1</key>
		<string>5182BB</string>
		<key>kButton_TitleColor_2</key>
		<string>5182AA</string>
		<key>kButton_TitleColor_3</key>
		<string>5182CC</string>
		<key>kC1_ContentBlackColor</key>
		<string>000000</string>
		<key>kC2_ContentBlackColor</key>
		<string>4A4A4A</string>
		<key>kC3_ContentGrayColor</key>
		<string>808080</string>
		<key>kC4_ContentLightGrayColor</key>
		<string>A6A6A6</string>
		<key>kC5_ContentGrayBlackColor</key>
		<string>6B6B6B</string>
		<key>kC6_ContentGrayBlackColor</key>
		<string>BABABA</string>
		<key>kC7_ContentGrayBlackColor</key>
		<string>7E7E7E</string>
		<key>kMoney_Color</key>
		<string>E77F29</string>
		<key>kC5_BgWhiteColor</key>
		<string>FFFFFF</string>
		<key>kC6_BgGrayColor</key>
		<string>F5F5F9</string>
		<key>kC7_SeperateLineLightGrayColor</key>
		<string>E7E7E7</string>
		<key>kC8_MainBlueColor</key>
		<string>0084ED</string>
		<key>kC9_MainOrangeColor</key>
		<string>FF8600</string>
		<key>kCLine_LightGrayColor</key>
		<string>E5E5E5</string>
		<key>kNavi_BtnColor</key>
		<string>FFFFFF</string>
	</dict>
	<key>Fonts</key>
	<dict>
		<key>kF1_TitleFont</key>
		<dict>
			<key>isBold</key>
			<false/>
			<key>fontsize</key>
			<integer>16</integer>
			<key>fontfamily</key>
			<string>system</string>
		</dict>
		<key>kF2_TableTitleFont</key>
		<dict>
			<key>isBold</key>
			<false/>
			<key>fontsize</key>
			<integer>15</integer>
			<key>fontfamily</key>
			<string>system</string>
		</dict>
		<key>kF3_TableContentFont</key>
		<dict>
			<key>isBold</key>
			<false/>
			<key>fontsize</key>
			<integer>14</integer>
			<key>fontfamily</key>
			<string>system</string>
		</dict>
		<key>kF4_TableContentMiddleFont</key>
		<dict>
			<key>isBold</key>
			<false/>
			<key>fontsize</key>
			<integer>13</integer>
			<key>fontfamily</key>
			<string>system</string>
		</dict>
		<key>kF5_TableContentSmallFont</key>
		<dict>
			<key>isBold</key>
			<false/>
			<key>fontsize</key>
			<integer>12</integer>
			<key>fontfamily</key>
			<string>system</string>
		</dict>
		<key>kF7_GroupBigTitleFont</key>
		<dict>
			<key>isBold</key>
			<false/>
			<key>fontsize</key>
			<integer>20</integer>
			<key>fontfamily</key>
			<string>system</string>
		</dict>
	</dict>
</dict>
</plist>
